:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.all {
  display: flex;
  flex-direction: column;
  gap: 300px; /* Espacamento entre as sessões */

  padding: 0 7%;
}

/*Sessão Menu*/

section.menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section.menu > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

section.menu > header > h3.menu__title {
  font-size: 16px;
}

section.menu > header > img {
  width: 22px;
  height: 22px;
}

section.menu > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

section.menu > nav > ul.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 32px;
}

section.menu > nav > li.menu__list__item__contato > a {
  font-weight: 700;
}

/*Sessão Title*/

section.title {
  width: 100%;
  height: 100%;
}

section.title > div.title__div {
  display: flex;
  flex-direction: row-reverse;
}

/*Sessão About*/

section.about {
}

/*Sessão Hobbies*/

section.hobbies {
}

/* Experiência Acadêmica*/

section.academic {
}

/* experiência*/

section.experience {
}

/*Contato*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
